body {
  background-color: black;
  font-family: "Roboto Condensed", sans-serif;
}

.titulo {
  font-weight: bold;
}

/* Separador */
hr {
  border-color: #338aa0;
  opacity: 1;
}

.centrado {
  text-align: center;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10; /* Índice z para superponer */
}

.brand-text-nav,
.brand-text-footer {
  font-family: "Caveat", cursive;
  font-size: 40px;
}

.icon {
  max-width: 3rem;
  max-height: 3rem;
}

.hamburguer-position {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

/*carousel*/
.my-carousel {
  margin-bottom: 70px;
}

.quienes-somos .titulo {
  padding: 2px 0;
}

.card-text_size {
  max-height: 305px;
  overflow: hidden;
}

.quienes-somos,
.cards-destacadas {
  margin-bottom: 50px;
}

/* cards */
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.cards-destacadas {
  margin-bottom: 100px;
}

.boton {
  background-color: #338aa0;
  color: #ffffff;
}

footer {
  margin-top: 30px;
  color: #ffffff;
}

.footer-icon {
  display: inline-block;
  padding-top: 5px;
  margin-right: 12px;
  font-size: 8px;
  margin-bottom: 5px;
}

.bg-celeste {
  background-color: #338aa0;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 760px) {
  .icon {
    max-width: 2rem;
    max-height: 2rem;
  }

  .my-carousel {
    margin-bottom: 20px;
  }

  .ocultar-sm {
    display: none; /* Ocultar en dispositivos pequeños */
  }

  .card {
    margin-bottom: 20px;
    border-radius: 3px; /* Bordes redondeados */
  }

  .cards-destacadas {
    margin-bottom: 20px;
  }

  .contacto,
  footer {
    color: #ffffff;
  }

  .brand-text-footer {
    font-size: 30px;
  }
}

/* Resaltar tarjetas */
.highlight {
  background-color: #ff1493;
}

/* Transición suave al hacer hover en tarjetas */
.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.08); /* Agrandar al hacer hover */
}
