body {
  background-color: black; /* Color de fondo negro */
  font-family: "Roboto Condensed", sans-serif; /* Fuente principal */
  color: #ffffff; /* Color de texto blanco */
}

.titulo {
  font-weight: bold; /* Texto en negrita */
}

/* Separador */
hr {
  border-color: #338aa0;
  opacity: 1;
}

.centrado {
  text-align: center;
}

.navbar {
  width: 100%; /* Ancho completo */
  position: fixed; /* Fijado en la posición */
  z-index: 10; /* Índice z para superponer */
}

.brand-text-nav,
.brand-text-footer {
  font-family: "Caveat", cursive;
  font-size: 40px; /* Tamaño de fuente */
}

.icon {
  max-width: 3rem;
  max-height: 3rem;
}

.hamburguer-position {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

/*carousel*/
.my-carousel {
  margin-bottom: 70px;
}

.quienes-somos .titulo {
  padding: 2px 0;
}

.card-text_size {
  max-height: 305px;
  overflow: hidden; /* Ocultar el exceso de texto */
}

.quienes-somos,
.cards-destacadas {
  margin-bottom: 50px;
}

/* cards */
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.cards-destacadas {
  margin-bottom: 100px;
}

.boton {
  background-color: #338aa0;
  color: #ffffff;
}

footer {
  margin-top: 30px; /* Margen superior */
  color: #ffffff; /* Color de texto */
}

.footer-icon {
  display: inline-block; /* Mostrar en línea */
  padding-top: 5px; /* Espacio superior */
  margin-right: 12px; /* Margen derecho */
  font-size: 8px; /* Tamaño de fuente */
  margin-bottom: 5px; /* Margen inferior */
}

.bg-celeste {
  background-color: #338aa0; /* Color de fondo */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 760px) {
  .icon {
    max-width: 2rem; /* Reducir el ancho */
    max-height: 2rem; /* Reducir la altura */
  }

  .my-carousel {
    margin-bottom: 20px; /* Margen inferior */
  }

  .ocultar-sm {
    display: none; /* Ocultar en dispositivos pequeños */
  }

  .card {
    margin-bottom: 20px; /* Margen inferior */
    border-radius: 3px; /* Bordes redondeados */
  }

  .cards-destacadas {
    margin-bottom: 20px; /* Margen inferior */
  }

  .contacto,
  footer {
    color: #ffffff; /* Color de texto */
  }

  .brand-text-footer {
    font-size: 30px; /* Reducir el tamaño de fuente */
  }
}
